.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ************************************************************************************************************************************************************************************************ */
/* ***********************************************************************  header css start ****************************************************************************************************** */
/* ************************************************************************************************************************************************************************************************ */

.header nav ul li a span::after{
  height: 2px;
  width: 0%;
  content: "";
  position: absolute;
  background-color: white;
  bottom: -25px;
  left: 0;
  transition: .5s;
}

.header nav ul li a:hover span::after{
  width: 100%;;
}

/* ************************************************************************************************************************************************************************************************ */
/* ***********************************************************************  header css end ******************************************************************************************************** */
/* ************************************************************************************************************************************************************************************************ */


.slider_container {
  scroll-behavior: smooth;
}

.upper_layer{
  background-color: rgba(0, 0, 0, 0.8);
}

.upper_layer .flex_dev{
  background-color: rgb(255 255 255 / 4%) !important;
  box-shadow: 0px 4px 14px 0px hsla(0, 0%, 100%, .25) inset;
}

.upper_layer .content h1{
  background-image: linear-gradient(0deg, #696969 -10.07%, #fff);
  background-clip: text;
  color: transparent;
}

.our_ai_tool .headding_part h2{
  background-image: linear-gradient(0deg, #696969 -10.07%, #fff);
  background-clip: text;
  color: transparent;
}

.upper_layer .inp input{
  border: 5px solid #373839;
}

.upper_layer .inp button a{
  border: 5px solid #B99BFF;
}

.our_ai_tool .sub_content h3{
  background-image: linear-gradient(0deg, #696969 -10.07%, #fff);
  background-clip: text;
  color: transparent;
}

.text_sp{
  background-image: linear-gradient(0deg, #696969 -10.07%, #fff);
  background-clip: text;
  color: transparent;
}